$imgAPI-crypto0: 'https://i.ibb.co/jrvyrTQ/hexa-orange.png';
$imgAPI-crypto1: 'https://i.ibb.co/n0gWSSD/hexa-green.png';
$imgAPI-crypto2: 'https://i.ibb.co/jrvyrTQ/hexa-orange.png';
$imgAPI-crypto3: 'https://i.ibb.co/n0gWSSD/hexa-green.png';
$imgAPI-crypto4: 'https://via.placeholder.com/600x341/cac142/FFFFFF';
$imgAPI-crypto5: 'https://i.ibb.co/9pL5dC3/parallax-r8cohw.jpg';
$imgAPI-crypto6: 'https://i.ibb.co/sRR8MW0/crypto-laptop.png';
